{% extends 'base.html' %}

{% block body %}
  <h3>Loop</h3>
  {% for menu in menus %}
    <li>{{menu}}</li>
  {% endfor %}

  <hr>

  <h3>Loop with index</h3>
  {% for menu in menus %}
    <li>{{forloop.counter}}: {{menu}}</li>
  {% endfor %}

  <hr>

  <h3>Loop with empty</h3>
  {% for e in empty %}
    <p>{{e}}</p>
  {% empty %}
    <p>Empty</p>
  {% endfor %}

  <hr>

  <h3>Control of flow</h3>
  {% if 'korean' in menus %}
    <p>Korean loves korean.</p>
  {% endif %}

  {% for menu in menus %}
    <p>{{forloop.counter}}th loop now</p>
    {% if 'korean' == menu %}
      <p>Korean loves korean.</p>
    {% elif 'jap' == menu %}
      <p>Korean loves jap.</p>
    {% else %}
      <p>Korean likes {{menu}}.</p>
    {% endif %}
  {% endfor %}
{% endblock %}
